@model IEnumerable<GraduationProject.Data.Models.Problem>

@{
    ViewData["Title"] = "Index";
}
<div class="container">
    <h2>Index</h2>
    
    <p>
        <a asp-action="Create">Create New</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ProblemSource)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.problemSourceId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.problemTitle)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.rating)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ProblemSource)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.problemSourceId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.problemTitle)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.rating)
                    </td>
                    <td>
                        <a asp-action="Details" asp-route-id="@item.ProblemId">Details</a> |
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>