@model ACJudge.ViewModels.BlogViewModel.BlogPage

@{
	ViewData["Title"] = "Blog Page";
}

<section class="all-blog-page">
	<div class="container">
		<div class="page-header">
			<h2>Blog <span class="text-muted">All Blog view</span></h2>
			<a class="btn btn-primary" asp-action="Create" asp-route-id="@null"><i class="fas fa-plus"></i> New Blog</a>
		</div>
		<section class="blog-table">
			<div class="panel panel-default">
				<div class="panel-heading">
					<div class="panel-title">
						<i class="fas fa-filter"></i> Filter
					</div>
					<i class="fas fa-angle-down" data-toggle="OpenFilterPanel"></i>
				</div>
				<div class="panel-body" hidden>
					<form class="form-horizontal" asp-action="Filter" method="POST">
						<input type="hidden" name="page" class="form-control" value ="1"/>
						<div class="form-group row">
							<label class="control-label col-md-2">Blog Title</label>
							<div class="col-md-8">
								<input type="text" name="Title" class="form-control"/>
							</div>
						</div>
						<div class="form-group row">
							<label class="control-label col-md-2">Prepeard By</label>
							<div class="col-md-8">
								<input type="text" name="PrepeardBy" class="form-control"/>
							</div>
						</div>
						<div class="form-group row">
							<div class="col-md-offset-2 col-md-8">
								<input type="reset" value="Reset" class="btn btn-secondary"/>
								<input type="submit" value="Search" class="btn btn-default"/>
							</div>
						</div>
					</form>
				</div>
				<div class="table-responsive">
					<table class="table table-bordered text-center">
						<thead>
							<tr class="active">
								<th class="text-center">Favorite</th>
								<th class="text-center">Title</th>
								<th class="text-center">Create Time</th>
								<th class="text-center">Vote</th>
								<th class="text-center">Prepeard By</th>
							</tr>
						</thead>
						<tbody>
						@if (Model.Blogs.Any())
						{
							@foreach (var item in Model.Blogs)
							{
								@if ((TempData["BlogsUser"] != null && TempData["BlogsUser"].ToString() == "blogUser") || item.GroupId == null)
								{
									<tr>
										<td>
											<a asp-action="Favourite" asp-route-id="@item.BlogId" class="fas fa-heart @(item.IsFavorite ? "active" : "")" data-favorite="IconFav">
											</a>
										</td>
										<td>
											<a asp-action="Details" asp-route-id="@item.BlogId">
												@Html.DisplayFor(modelItem => item.BlogTitle)
											</a>
										</td>
										<td class="creat-time">
											<div>@item.CreationTime.ToString("MM/dd/yyyy")</div>
											<div>@item.CreationTime.ToString("HH:mm")</div>
										</td>
										<td>
											@Html.DisplayFor(modelItem => item.BlogVote)
										</td>
										@{
											var userName = item.BlogOwner.UserName;
											var userId = item.BlogOwner.Id;
											if (userName != null)
											{
												<td>
													<a asp-controller="User" asp-action="Details" asp-route-id="@userId">
														@userName
													</a>
												</td>
											}
										}
									</tr>

								}
							}	
						}
						else
						{
							<tr>
								<td colspan="7">No Matching Records</td>
							</tr>
						}
						</tbody>
					</table>
				</div>
			</div>
			<div aria-label="Page navigation" class="text-center">
				<ul class="pagination pagination-lg">
					@{
						if (Model.PageNumber > 1)
						{
							<li>
								<a asp-action="Index" asp-route-page="@(Model.PageNumber-1)" aria-label="Previous">
									<span aria-hidden="true">&laquo;</span>
								</a>
							</li>
						}
						foreach (var pageNumber in Model.Pages)
						{
							<li class="@(Model.PageNumber == pageNumber ? "active" : "")">
								<a asp-action="Index" asp-route-page="@pageNumber">
									@pageNumber
								</a>
							</li>
						}
						if (Model.PageNumber != Model.Pages.Last())
						{
							<li>
								<a asp-action="Index" asp-route-page="@(Model.PageNumber+1)" aria-label="Next">
									<span aria-hidden="true">&raquo;</span>
								</a>
							</li>
						}
					}
				</ul>
			</div>
		</section>
	</div>
</section>


@section Scripts {
	<partial name="_ValidationScriptsPartial" />
}