@page
@model RegisterModel
@{
    Layout = "~/Areas/Identity/Pages/_Layout.cshtml";
    ViewData["Title"] = "Register";
}

            
            <form asp-route-returnUrl="@Model.ReturnUrl" role="form" class="row user-signup" method="post">
                
                <div class="col-md-6">
                    
                    <div class="form-group">
                        
                        <input asp-for="Input.UserName" class="form-control input-lg bg-fill" />
                        <span asp-validation-for="Input.UserName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        
                        <input asp-for="Input.Email" class="form-control input-lg bg-fill" />
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        
                        <input asp-for="Input.Password" class="form-control input-lg bg-fill" />
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                    </div>                    
                </div>
                <div class="col-md-6">
                    
                    <div class="row form-group">
                        <div class="col-xs-6">
                            <select class="form-control input-lg bg-fill" name="@Html.NameFor(model=>model.Input.BirthDate)">
                                <option value="0">Birth Year</option>
                                
                                @{
                                    int startYear = DateTime.Now.Year;
                                    for (int year = startYear - 10; year >= startYear - 100; year--)
                                    {
                                        <option value="@year">@year</option>
                                    }
                                }
                            </select>
                            <span asp-validation-for="Input.BirthDate" class="text-danger"></span>
                        </div>
                        <div class="col-xs-6">
                            <select class="form-control input-lg bg-fill" name="@Html.NameFor(model=>model.Input.Country)">
                                <option value="0">Contry</option>
                                @{
                                    foreach (string country in Model.Countries)
                                    {
                                        <option value="@country">@country</option>
                                    }
                                }
                            </select>
                            <span asp-validation-for="Input.Country" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary btn-lg btn-block">Register</button>
                    </div>
                </div>
            </form>
        
            <div asp-validation-summary="All" class="alert alert-danger"></div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
