@model IEnumerable<ACJudge.ViewModels.Rank.RankViewModel>
@{
    ViewData["Title"] = "Ranking";
    Layout = "_LayoutRank";

}
<div class="row">
    <div class="col-sm-12 col-md-10 col-md-offset-1">
        <h2>
            Ranking
        </h2>
        <hr class="mt-0 mb-1">

        <ul class="nav nav-pills small mb-1">
            <li class="active"><a asp-action="Index">All Users</a></li>
        </ul>


        <div class="text-center">
            <ul class="pagination pagination-sm mt-0 mb-1">
                @{
                    if (ViewBag.Pagenum > 1)
                    {

                        @if (ViewBag.function == "Filter")
                        {
                            <li>
                                <a asp-action="FilterRanking" asp-route-page="@(ViewBag.Pagenum-1)" asp-route-Country="@ViewBag.Country" asp-route-UserName="@ViewBag.UserName" asp-route-BirthYearLowerBound="@ViewBag.BirthYearLowerBound" asp-route-BirthYearUpperBound="@ViewBag.BirthYearUpperBound" asp-route-RatingLowerBound="@ViewBag.RatingLowerBound" asp-route-RatingUpperBound="@ViewBag.RatingUpperBound" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                        }
                        else
                        {
                            <li>
                                <a asp-action="Index" asp-route-page="@(ViewBag.Pagenum-1)" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                        }

                    }
                    for (int i = 1; i <= ViewBag.TotalPageProblem; i++)
                    {
                        if (ViewBag.function == "Filter")
                        {
                            <li class="@(ViewBag.Pagenum==i?"active":"")"><a asp-action="FilterRanking" asp-route-page="@i" asp-route-Country="@ViewBag.Country" asp-route-UserName="@ViewBag.UserName" asp-route-BirthYearLowerBound="@ViewBag.BirthYearLowerBound" asp-route-BirthYearUpperBound="@ViewBag.BirthYearUpperBound" asp-route-RatingLowerBound="@ViewBag.RatingLowerBound" asp-route-RatingUpperBound="@ViewBag.RatingUpperBound">@i</a></li>
                        }
                        else
                        {
                            <li class="@(ViewBag.Pagenum==i?"active":"")"><a asp-action="Index" asp-route-page="@i">@i</a></li>
                        }

                    }
                    if (ViewBag.Pagenum < ViewBag.TotalPageProblem)
                    {

                        @if (ViewBag.function == "Filter")
                        {
                            <li>
                                <a asp-action="FilterRanking" asp-route-page="@(ViewBag.Pagenum+1)" asp-route-Country="@ViewBag.Country" asp-route-UserName="@ViewBag.UserName" asp-route-BirthYearLowerBound="@ViewBag.BirthYearLowerBound" asp-route-BirthYearUpperBound="@ViewBag.BirthYearUpperBound" asp-route-RatingLowerBound="@ViewBag.RatingLowerBound" asp-route-RatingUpperBound="@ViewBag.RatingUpperBound" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                        }
                        else
                        {
                            <li>
                                <a asp-action="Index" asp-route-page="@(ViewBag.Pagenum+1)" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                        }

                    }

                }

            </ul>
        </div>
        <div class="panel panel-default panel-filter">
            <div class="panel-heading">
                <h3 class="panel-title filter-title" onclick="showfilter()" data-target="#form-filter"><i class="fa fa-filter" aria-hidden="true"></i>Filter <span class="fa fa-chevron-right"></span></h3>
                <form class="form-inline form-filter" asp-action="FilterRanking" method="POST" id="form-filter" style="display:none;">
                    <hr>

                    <div class="form-group form-group-sm">
                        <label for="f.Country">Country/Region: </label>
                        <select id="f.Country" class="form-control" style="width:150px;" data-placeholder="-" data-allow-clear="true" name="Country">
                            <option value=""></option>
                            @{
                                IEnumerable<string> countries = ViewData["countries"] as IEnumerable<string>;
                                foreach (var item in countries)
                                {
                                    <option value="@item">@item</option>
                                }
                            }
                        </select>
                    </div>


                    <div class="form-group form-group-sm">
                        <label for="f.UserScreenName">User: </label>
                        <input type="text" id="f.UserScreenName" class="form-control" name="UserName" value=""
                               data-html="true" data-toggle="tooltip" data-trigger="focus" title="You can use wildcards.&lt;br&gt;?: any character&lt;br&gt;*: any string">
                    </div>


                   

                    <br>
                    <div class="form-group form-group-sm">
                        <table>
                            <tr><td><label>Birth Year: </label></td><td><input type='number' class='form-control' name='BirthYearLowerBound' id="f.birthday" value='0'></td><td>-</td><td><input type='number' width='10' class='form-control' name='BirthYearUpperBound' id="f.birthday2" value='@DateTime.Now.Year'></td></tr>
                            <tr><td><label>Rating: </label></td><td><input type='number' class='form-control' name='RatingLowerBound' id="f.rate" value='0'></td><td>-</td><td><input type='number' width='10' class='form-control' name='RatingUpperBound' id="f.rate2" value='9999'></td></tr>
                            </table>
                    </div>
                    <br>
                    <div class="form-group">
                        <div>
                            <button type="submit" class="btn btn-primary btn-sm">Search</button>
                            <a class=" reset btn btn-default btn-sm" onclick="ClearFields()">Reset</a>
                        </div>
                    </div>
                </form>
            </div>

            <div class="table-responsive">
                <table class="table table-bordered table-striped text-center">
                    <thead>
                        <tr class="no-break">
                            <th class="text-center" style="color:#337ab7" width="4%">Rank</th>
                            <th class="text-center" style="color:#337ab7" width="30%">User</th>
                            <th class="text-center" style="color:#337ab7" width="4%">Birth</th>
                            <th class="text-center" style="color:#337ab7" width="4%">Country</th>
                            <th class="text-center" style="color:#337ab7" width="4%">Rates</th>

                        </tr>
                    </thead>
                    <tbody>
                        @{
                            if (Model.Count() == 0)
                            {
                                <tr>
                                    <!-- if Not Result -->
                                    <td colspan="6">No Matching Records</td>
                                </tr>
                            }
                            else
                            {

                                float top = Model.First().TotalSolved;
                                int idx = 1;
                                foreach (var item in Model)
                                {
                                    string color="";
                                    float Percentage = (item.TotalSolved / top)*100;
                                    if (Percentage > 85)
                                    {
                                        color = "red";
                                    }
                                    else if (Percentage > 75)
                                    {
                                        color = "#800080";
                                    }
                                    else if (Percentage > 65)
                                    {
                                        color = "blue";
                                    }
                                    else if (Percentage > 50)
                                    {
                                        color = "#1E8449";
                                    }
                                    else
                                    {
                                        color = "gray";
                                    }
                                    <tr>
                                        <td class="no-break">@idx</td>
                                        <td>  <a asp-controller="User" asp-action="Details" asp-route-id="@item.userid"><span style="color:@color">@item.UserName</span></a>
                                        <td>@item.Birthyear</td>
                                        <td><b>@item.Country</b></td>
                                        <td><b>@item.TotalSolved</b></td>
                                    </tr>
                                    idx++;
                                }

                            }
                        }

                    </tbody>
                </table>
            </div>
        </div>

    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
