@model GraduationProject.ViewModels.ViewGroupModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="details-group-page">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <section class="panel panel-info text-center">
                    <div class="panel-heading">
                        @Model.GroupTitle
                    </div>
                    <ul class="list-group">
                        <li class="list-group-item">@Model.GroupStatus</li>
                        <li class="list-group-item">@Model.UserRole</li>
                    </ul>
                    <div class="panel-footer">
                        @{ 
                            var className = "fas fa-heart";
                            if (Model.IsFavourite)
                                className += " active";
                        }
                        <a asp-action="FlipFavourite" asp-route-id="@Model.GroupId"><i class="@className" data-favorite="IconFav"></i></a>
                        
                        <!-- add class active if this faviorte group -->
                    </div>
                </section>
                <section class="panel panel-info text-center">
                    <div class="panel-heading">
                         About Group
                    </div>
                    <div class="panel-body">
                        @Model.GroupDescription
                    </div>
                    <div class="panel-footer">
                        Create Time : @Model.creationTime.ToString("MM/dd/yyyy HH:mm")
                    </div>
                </section>
                <section class="panel panel-info text-center statistics">
                    <div class="panel-heading">
                        Statistics
                    </div>
                    <ul class="list-group">
                        <li class="list-group-item"> <!-- Number of users in group -->
                            <i class="fas fa-users"></i>
                            @Model.NumberOfMembers
                        </li>
                        <li class="list-group-item"> <!-- Number of contests in group -->
                            <ul class="breadcrumb text-center">
                                <li>@Model.NumberOfUpCommingContests</li><!-- scheduled contest -->
                                <li>@Model.NumberOfRunningContests</li><!-- Running contest -->
                                <li>@Model.NumberOfEndedContests</li><!-- End contest -->
                            </ul>
                        </li>
                        <li class="list-group-item"> <!-- User Top Rate -->
                            Top User : <a href="#">Super_Mari000</a>
                        </li>
                    </ul>
                </section>
            </div>
            <div class="col-md-9">
                <div class="well well-sm header-group"> <!-- Heade Group[Name - drop down for actions -->
                    <div class="group-name">
                        @Model.GroupTitle
                    </div>
                    @if (Model.UserRole == "Admin")
                    {
                    <div class="dropdown"> <!-- visible if user leader or manger -->
                          <a href="#" class="btn btn-info dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
                          <ul class="dropdown-menu">
                              <li><a href="#">Control Member</a></li>
                              <li><a href="#">Control Contest</a></li>
                              <li><a href="#">Control Blog</a></li>
                              <li><a asp-action="Leave" asp-route-id="@Model.GroupId" class="confirm">Leave Group</a></li>
                                  @if (Model.UserRole == "Admin")
                                  {
                                    <li><a asp-action="Delete" asp-route-id="@Model.GroupId" class="confirm" >Exit Group</a></li>
                                  }
                          </ul>
                    </div>
                    }
                    else
                    {
                    <div class=""> 

                        <a asp-action="Leave" asp-route-id="@Model.GroupId"  class="btn btn-danger">Leave Group</a>
                    </div> 
                    <!-- visible if user participant -->
                    }

               </div>
                <section class="group-contest">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                          <h2 class="panel-title">Contestes</h2>
                          <i class="fas fa-plus" data-toggle="OpenClosePanel"></i>
                        </div>

                        <div class="table-responsive">
                            <table class="table table-bordered text-center">
                                <tbody>
                                    <tr>
                                        <td>Title</td>
                                        <td>Start Time</td>
                                        <td>Length</td>
                                        <td>Prepeard By</td>
                                    </tr>
                                   @{
                                    foreach (var contest in Model.Contests)
                                    {
                                        <tr>
                                            <td><a href="#">@contest.contestTitle</a></td>
                                            <td class="starte-time">
                                                <!-- contest start time -->
                                                <div>@contest.contestStartTime.ToString("MM/dd/yyyy")</div>
                                                <div>@contest.contestStartTime.ToString("HH:mm")</div>
                                            </td>
                                            <td> @contest.contestDuration </td>
                                            <!-- Prepeard by-->
                                            <!--contest.UserContest.FirstOrDefault(u => u.isOwner == true).User.FirstName -->
                                            <td><a href="#"> ME  </a></td>
                                        </tr>
                                    }
                                }
                                   
                                </tbody>
                            </table>
                        </div>
                    </div>
                </section>
                <section class="group-member">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                          <h2 class="panel-title">Members</h2>
                          <i class="fas fa-plus" data-toggle="OpenClosePanel"></i>
                        </div>

                        <div class="table-responsive">
                            <table class="table table-bordered text-center">
                                <tbody>
                                    <tr>
                                        <td>Name</td>
                                        <td>User Name</td>
                                        <td>Role</td>
                                        <td>Join Time</td>
                                    </tr>
                                     @{
                                    foreach (var rel in Model.UserGroup)
                                    {
                                        <tr>
                                            <td>@rel.User.FirstName</td>
                                            <td><a href="#">@rel.User.UserName</a></td>
                                            <td>@rel.UserRole</td>
                                            <td>@rel.MemberSince.ToString("MM/dd/yyyy")</td>
                                        </tr>

                                    }
                                }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </section>
                <section class="group-blog">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                          <h2 class="panel-title">Blogs</h2>
                          <i class="fas fa-plus" data-toggle="OpenClosePanel"></i>
                        </div>
                        <div class="table-responsive">
                            <table class="table table-bordered text-center">
                                <tbody>
                                    <tr>
                                        <td>Title</td>
                                        <td>Author</td>
                                        <td>Create Time</td>
                                        <td>Vote</td>
                                    </tr>
                                    <tr>
                                        <td><a href="#">Test Blog</a></td>
                                        <td><a href="#">Super_Mari000</a></td>
                                        <td>21-1-2021</td>
                                        <td>+132</td>
                                    </tr>
                                    <tr>
                                        <td><a href="#">Test Blog 123</a></td>
                                        <td><a href="#">Super_Mari000</a></td>
                                        <td>21-1-2021</td>
                                        <td>-13</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}