@model GraduationProject.ViewModels.ViewGroupModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="details-group-page">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <section class="panel panel-info text-center">
                    <div class="panel-heading">
                        @Model.GroupTitle
                    </div>
                    <ul class="list-group">
                        <li class="list-group-item">@Model.GroupStatus</li>
                        <li class="list-group-item">@Model.UserRole</li>
                    </ul>
                    <div class="panel-footer">
                        <i class="fas fa-heart" data-favorite="IconFav"></i> <!-- add class active if this faviorte group -->
                    </div>
                </section>
                <section class="panel panel-info text-center">
                    <div class="panel-heading">
                         About Group
                    </div>
                    <div class="panel-body">
                        @Model.GroupDescription
                    </div>
                    <div class="panel-footer">
                        Create Time : @Model.creationTime.ToString("MM/dd/yyyy HH:mm")
                    </div>
                </section>
                <section class="panel panel-info text-center statistics">
                    <div class="panel-heading">
                        Statistics
                    </div>
                    <ul class="list-group">
                        <li class="list-group-item"> <!-- Number of users in group -->
                            <i class="fas fa-users"></i>
                            @Model.NumberOfMembers
                        </li>
                        <li class="list-group-item"> <!-- Number of contests in group -->
                            <ul class="breadcrumb text-center">
                                <li>@Model.NumberOfUpCommingContests</li><!-- scheduled contest -->
                                <li>@Model.NumberOfRunningContests</li><!-- Running contest -->
                                <li>@Model.NumberOfEndedContests</li><!-- End contest -->
                            </ul>
                        </li>
                        <li class="list-group-item"> <!-- User Top Rate -->
                            Top User : <a href="#">Super_Mari000</a>
                        </li>
                    </ul>
                </section>
            </div>
            <div class="col-md-9">
                <div class="well well-sm header-group"> <!-- Heade Group[Name - drop down for actions -->
                    <div class="group-name">
                        @Model.GroupTitle
                    </div>
                    @if (Model.UserRole == "Admin")
                    {
                    <div class="dropdown"> <!-- visible if user leader or manger -->
                          <a href="#" class="btn btn-info dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
                          <ul class="dropdown-menu">
                            <li><a href="#">New Member</a></li>
                            <li><a href="#">New Contest</a></li>
                            <li><a href="#">Edit Group</a></li>
                            <li><a href="#">Leave Group</a></li>
                            <li><a href="#">Exit Group</a></li> <!-- visble if user is Leader -->
                          </ul>
                    </div>
                    }
                    else
                    {
                    <div class=""> 
                        <a href="#" class="btn btn-danger">Leave Group</a>
                    </div> 
                    <!-- visible if user participant -->
                    }
                </div>
                <section class="group-contest">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                          <h2 class="panel-title">Contestes</h2>
                          <i class="fas fa-plus" data-toggle="OpenClosePanel"></i>
                        </div>
                        <table class="table table-bordered text-center">
                            <tbody>
                                <tr>
                                    <td>Name</td>
                                    <td>Start Time</td>
                                    <td>Length</td>
                                    <td>Prepeard By</td>
                                </tr>
                                @{
                                    foreach (var contest in Model.Contests)
                                    {
                                        <tr>
                                            <td><a href="#">@contest.contestTitle</a></td>
                                            <td class="starte-time">
                                                <!-- contest start time -->
                                                <div>@contest.contestStartTime.ToString("MM/dd/yyyy")</div>
                                                <div>@contest.contestStartTime.ToString("HH:mm")</div>
                                            </td>
                                            <td>@contest.contestDuration.ToString("HH:mm")</td>
                                            <td><a href="#">Super_Mari000</a></td>
                                        </tr>
                                    }
                                }
                                <!--
     <tr>
        <td><a href="#">Test Contest Mari000</a></td>
        <td class="starte-time">
            <div>21-1-2021</div>
            <div>21:40</div>
        </td>
        <td>10:50</td>
        <td><a href="#">Super_Mari000</a></td>
    </tr>
        -->
                            </tbody>
                        </table>
                    </div>
                </section>
                <section class="group-member">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                          <h2 class="panel-title">Members</h2>
                          <i class="fas fa-plus" data-toggle="OpenClosePanel"></i>
                        </div>
                        <table class="table table-bordered text-center">
                            <tbody>
                                <tr>
                                    <td>Name</td>
                                    <td>User Name</td>
                                    <td>Role</td>
                                    <td>Join Time</td>
                                </tr>
                                @{
                                    foreach (var rel in Model.UserGroup)
                                    {
                                        <tr>
                                            <td>@rel.User.FirstName</td>
                                            <td><a href="#">@rel.User.UserName</a></td>
                                            <td>@rel.UserRole</td>
                                            <td>@rel.MemberSince.ToString("MM/dd/yyyy")</td>
                                        </tr>

                                    }
                                }
                                
                            </tbody>
                        </table>
                    </div>
                </section>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}