@model GraduationProject.ViewModels.ContestViewsModel.CreateContestModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="create-contest-page">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2 jumbotron">
                <h1 class="static-main-title">Create Contest</h1>
                <div id="CreateContesteGeneric" class="carousel slide" data-interval="false" data-ride="carousel">
                    <div class="btn-group toogle-button" role="group">
                        <button type="button" class="@Model.ButtonOneClass" data-toggle="btn-success" data-target="#CreateContesteGeneric" data-slide-to="0">Classical Contest</button>
                        <button type="button" class="@Model.ButtonTwoClass" data-toggle="btn-primary" data-target="#CreateContesteGeneric" data-slide-to="1">Group Contest</button>
                    </div>

                    <div class="carousel-inner" role="listbox">
                        <div class="@Model.FormOneClass">
                            <form class="form-horizontal" asp-action="Create">
                                <input hidden asp-for="@Model.CreateFromGroup" value="0" />
                                <div class="form-group row">
                                    <label class="control-label col-md-2">Contest Title</label>
                                    <div class="col-md-10">
                                        <input asp-for="@Model.contestTitle" class="form-control" placeholder="Contest Title Show Pepole" />
                                        <div asp-validation-for="@Model.contestTitle" class="alert alert-danger"></div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="control-label col-md-2">Password</label>
                                    <div class="col-md-10">
                                        <input type="password" asp-for="@Model.Password" class="form-control" placeholder="Password To Member Register" />
                                        <div asp-validation-for="@Model.Password" class="alert alert-danger"></div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="control-label col-md-2">Begin Time</label>
                                    <div class="col-md-10">
                                        <input asp-for="@Model.StartTime" class="form-control" />
                                        <div asp-validation-for="@Model.StartTime" class="alert alert-danger"></div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="control-label col-md-2">Duration</label>
                                    <div class="col-md-10">
                                        <input asp-for="@Model.Duration" class="form-control" />
                                        <div asp-validation-for="@Model.Duration" class="alert alert-danger"></div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="control-label col-md-2">Visibility</label>
                                    <div class="col-md-10 radio-btn-change">
                                        <div class="btn-group">
                                            <label class="btn btn-default active">
                                                <input type="radio" asp-for="@Model.Visable" value="1" checked />
                                                Public
                                            </label>
                                            <label class="btn btn-default">
                                                <input type="radio" asp-for="@Model.Visable" value="0" />
                                                Private
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="control-label col-md-2">Problemset</label>
                                    <div class="col-md-10 table-responsive">
                                        <table class="table text-center">
                                            <thead>
                                                <tr class="table-active">
                                                    <th class="text-center">#</th>
                                                    <th class="text-center">Online Judge</th>
                                                    <th class="text-center">Poblem Name</th>
                                                    <th class="text-center">Alias</th>
                                                    <th class="text-center"><i class="fas fa-plus text-primary"></i></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                            </tbody>
                                        </table>
                                        <div asp-validation-for="problemWrong" class="alert alert-danger"></div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-md-offset-2 col-md-10">
                                        <button type="submit" class="btn btn-success"><i class="fas fa-plus"></i> New Contest</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="@Model.FormTwoClass">
                            <form class="form-horizontal" asp-action="Create">
                                <input hidden asp-for="@Model.CreateFromGroup" value="1" />
                                <div class="form-group row">
                                    <label class="control-label col-md-2">Contest Title</label>
                                    <div class="col-md-10">
                                        <input asp-for="@Model.contestTitle" class="form-control" placeholder="Contest Title Show Pepole" />
                                        <div asp-validation-for="@Model.contestTitle" class="alert alert-danger"></div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="control-label col-md-2">Password</label>
                                    <div class="col-md-10">
                                        <input type="password" asp-for="@Model.Password" class="form-control" placeholder="Password To Member Register" />
                                        <div asp-validation-for="@Model.Password" class="alert alert-danger"></div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="control-label col-md-2">Begin Time</label>
                                    <div class="col-md-10">
                                        <input asp-for="@Model.StartTime" class="form-control" />
                                        <div asp-validation-for="@Model.StartTime" class="alert alert-danger"></div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="control-label col-md-2">Duration</label>
                                    <div class="col-md-10">
                                        <input asp-for="@Model.Duration" class="form-control" />
                                        <div asp-validation-for="@Model.Duration" class="alert alert-danger"></div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="control-label col-md-2">Group</label>
                                    <div class="col-md-10">
                                        <select class="form-control" asp-for="@Model.groupId" asp-items="@(new SelectList(Model.groups, "groupId", "groupTitle"))"></select>
                                        <div asp-validation-for="@Model.groups" class="alert alert-danger"></div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="control-label col-md-2">Visibility</label>
                                    <div class="col-md-10 radio-btn-change">
                                        <div class="btn-group">
                                            <label class="btn btn-default active">
                                                <input type="radio" asp-for="@Model.Visable" value="1" checked />
                                                Public
                                            </label>
                                            <label class="btn btn-default">
                                                <input type="radio" asp-for="@Model.Visable" value="0" />
                                                Private
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="control-label col-md-2">Problemset</label>
                                    <div class="col-md-10 table-responsive">
                                        <table class="table text-center">
                                            <thead>
                                                <tr class="table-active">
                                                    <th class="text-center">#</th>
                                                    <th class="text-center">Online Judge</th>
                                                    <th class="text-center">Poblem Name</th>
                                                    <th class="text-center">Alias</th>
                                                    <th class="text-center"><i class="fas fa-plus text-primary"></i></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                            </tbody>
                                        </table>
                                        <div asp-validation-for="problemWrong" class="alert alert-danger"></div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-md-offset-2 col-md-10">
                                        <button type="submit" class="btn btn-primary"><i class="fas fa-plus"></i> New Contest</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<script language="javascript" type="text/javascript">

    var CreateFormClassic = '.create-contest-page .contest-classical';
    var CreateFormGroup   = '.create-contest-page .contest-group';
    
    Control_Problem_Table(CreateFormClassic);
    Control_Problem_Table(CreateFormGroup);
    
    function Control_Problem_Table(MainClass){
        
        var MainTableObj    = $(MainClass + ' .table');
        var AddProblemPlus  = MainClass + ' .table thead i.fa-plus';
        var AddProblemMinus = MainClass + ' .table thead i.fa-minus';
        var DoneProblem     = MainClass + ' .table i.fa-check';
        var RemProblem      = MainClass + ' .table i.fa-times';
        var ID = 65, ProblemNumber = 0;
        
        
        $(document).on('click', DoneProblem, function () {
            var CurRow = $(this).parent().parent();
            var ParCurRow = CurRow.parent();
            
            $(AddProblemMinus).removeClass('fa-minus').addClass('fa-plus');
    
            // Work In Clicked Element
            $(this).removeClass('fa-check text-success').addClass('fa-times text-danger');
         
            var AllInputFiled = CurRow.find("input, select");
            AllInputFiled.each(function(){
               $(this).attr('disabled', 'disabled');
            });
            
        });
        
        $(document).on('click', AddProblemPlus, function () {
            if(String.fromCharCode(ID) === 'Z')
                return;
            /*
            @{
                Model.Books.Add(new Book());
            }*/
            console.log("Yes");
            MainTableObj.children('tbody').append(Create_TableRow_Poblem(ID, ProblemNumber));
            ++ID,++ProblemNumber;
            $(this).removeClass('fa-plus').addClass('fa-minus');
        });
        
        $(document).on('click', RemProblem, function () {
            var CurRow = $(this).parent().parent();
         
            var AllNextRow = CurRow.nextAll();
            AllNextRow.each(function(){
                var Temp = $(this).children('td:first-child');
                Temp.text(String.fromCharCode(Temp.text().charCodeAt(0) - 1));
            });
            CurRow.remove();
            --ID,--ProblemNumber;
        });
        
        // Submit Button
        var SubmitBtn = $(MainClass + ' form [type="submit"]');
        SubmitBtn.on('click', function(e){
            var OpenProblemLen  = $(DoneProblem).length;
            var CountProblemLen = MainTableObj.children('tbody').children().length;
            
            if(ProblemNumber == 0 || CountProblemLen == 0){
                alert("Please Add At Least One Problem !");
                e.preventDefault();
            }else if(OpenProblemLen > 0){
                alert("Please Close Last Problem Check !");
                e.preventDefault();
            }
            
        });
    }
    
    function Create_TableRow_Poblem(ID, ProblemNumber){
        var TR = $('<tr />');
        
        var TDProblemChar = '<td>' + String.fromCharCode(ID) + '</td>';
        TR.append(TDProblemChar);
        
        
        function BuildNameAndId(ProblemNumber, Type){
            return 'id="problems_' + ProblemNumber + '__' + Type + '" name="problems[' + ProblemNumber + '].' + Type + '"';
        }
        
        //name = "problems[0].PlatForm"
        var TDOnlineJudge = '<td class="form-group">'
                            + '<select class="form-control" ' + BuildNameAndId(ProblemNumber, 'PlatForm') + ' >'
                            + '<option value="Codeforces">Codeforces</option>'
                            + '<option value="Atcoder">Atcoder</option>'
                            + '</select>'
                            + '</td>'
        TR.append(TDOnlineJudge);
        
        //name= "problems[0].problemId"
        var TDProblemName = '<td class="form-group">'
                            + '<input class="form-control" ' + BuildNameAndId(ProblemNumber, 'problemId') + ' type="text" placeholder="CF:123A" />'
                            + '</td>';
        TR.append(TDProblemName);
        
        //name ="problems[0].Alias"
        var TDProblemAlias = '<td class="form-group">'
                            + '<input class="form-control" ' + BuildNameAndId(ProblemNumber, 'Alias') + ' type="text" placeholder="New Problem Name" />'
                            + '</td>';
        TR.append(TDProblemAlias);
        
        var TDProblemAlias = '<td class="form-group">'
                            + '<i class="fas fa-check text-success" data-target="acceptproblem"></i>'
                            + '</td>';
        TR.append(TDProblemAlias);

        return TR;
    }

</script>

