@model GraduationProject.ViewModels.ContestViewsModel.ViewContestModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    string currentAction = ViewContext.RouteData.Values.ContainsKey("Action") ? ViewContext.RouteData.Values["Action"].ToString() : "NULL";
    string[] navElementsA = { "Details", "MySubmission", "Status", "Standing" };
    string[] navElements = { "Overview", "My Submission", "Status", "Standings" };
    string partialName = currentAction == "Details" ? navElements[0] : currentAction;
    Boolean ContestEnded = Model.contestStatus == "Ended";
    Boolean ShowPartial = Model.IsCurrentUserOwner || ContestEnded || (Model.contestStartTime <= DateTime.Now);
    
}
<section class="show-contest-page">
    <div class="container">
        <section class="header-contest text-center">
            <div class="row">
                <div class="col-md-2">
                    <h5>Start</h5>
                    <div>@Model.contestStartTime</div>
                </div>
                <div class="col-md-8">
                    <h3>@Model.contestTitle</h3>
                </div>
                <div class="col-md-2">
                    <h5>End</h5>
                    <div>@Model.contestStartTime.AddMinutes(Model.contestDuration)</div>
                </div>
            </div>
            <div claa="schedule-timer">
            </div>
            <!--
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1">
                <div class="progress">
                    <div class="progress-bar progress-bar-striped progress-bar-success active" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 90%">
                    </div>
                </div>
            </div>
        </div>-->
        </section>
        @if (ShowPartial)
        {
            <section class="nav-action">
                <ul class="nav nav-tabs">
                    @for (int i = 0; i < navElements.Length; i++)
                    {
                        if (currentAction == navElementsA[i])
                        {
                            <li role="presentation" class="active"> <a asp-action="@navElementsA[i]" asp-route-id="@Model.contestId"> @navElements[i]</a></li>
                        }
                        else
                        {
                            <li role="presentation"> <a asp-action="@navElementsA[i]" asp-route-id="@Model.contestId"> @navElements[i]</a></li>
                        }

                    }
                    <li role="presentation" class="dropdown pull-right">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                            Control <span class="caret"></span>
                        </a>
                        @if ((Model.groupId != null) || Model.IsCurrentUserOwner)
                        {
                            <ul class="dropdown-menu">
                                @if (Model.groupId != null)
                                {
                                    <li><a asp-controller="Group" asp-action="Details" asp-route-id="@Model.groupId">Show Group</a></li>
                                }
                                @if (Model.IsCurrentUserOwner)
                                {
                                    <li><a asp-action="Edit" asp-route-id="@Model.contestId">Edit Contest</a></li>
                                    <li><a asp-action="Delete" asp-route-id="@Model.contestId">Delete Contest</a></li>
                                }
                            </ul>
                        }
                    </li>
                </ul>
            </section>

            <partial name="@partialName" for="@Model" />
        }
        else
        {
            
        }


    </div>
</section>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
