@model GraduationProject.ViewModels.ContestViewsModel.ViewContestModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Contest</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.contestTitle)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.contestTitle)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.contestStartTime)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.contestStartTime)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.contestDuration)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.contestDuration)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.creationTime)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.creationTime)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.contestVisabilty)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.contestVisabilty)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.contestStatus)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.contestStatus)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.group.GroupTitle)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.group.GroupId)
        </dd>

    </dl>
    <!-- This table for print registered users in the contest -->
    <table class="table">
        <tr>
            <th>
                UserName
            </th>
        </tr>
        @{
            foreach (var user in Model.UserContest)
            {
                <tr>
                    <td> @user.User.UserName </td>
                </tr>
            }
        }
    </table>
    <!-- This table is for print the problems in the contest -->
    <table class="table">
        <thead>
            <tr>
                <th>
                    ProblemSource
                </th>
                <th>
                    problemSourceId
                </th>
                <th>
                    problemTitle
                </th>

                <th>
                    rating
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Problems)
            {
                <partial name="ProblemView" for="@item" />
            }
        </tbody>
    </table>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.contestId">Edit</a> |

    <a asp-action="RegisterInContest" asp-route-id="@Model.contestId"> Register in the contest</a>|
    <a asp-controller="Group" asp-action="Details" asp-route-id="@Model.groupId">Back to Group</a>
    <form asp-action="AddProblemToContest">
        <input hidden name="contestId" value="@Model.contestId" />
        <input name="problemName" type="text" />
        <button type="submit"> Add Problem To contest</button>
    </form>
</div>
