@model GraduationProject.ViewModels.ContestViewsModel.ViewContestModel

@{
    ViewData["Title"] = "My Submission";
}

<section class="table-mysubmision">
    <div class="table-responsive">
        <table class="table table-bordered text-center">
            <thead class="thead-light">
                <tr>
                    <th class="text-center">Run ID</th>
                    <th class="text-center">User Name</th>
                    <th class="text-center">Problem</th>
                    <th class="text-center">Verdict</th>
                    <th class="text-center">Time</th>
                    <th class="text-center">Memory</th>
                    <th class="text-center">Language</th>
                    <th class="text-center">When</th>
                    <th class="text-center">TYPE</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Submissions)
                {
                    var verdictClass = item.Verdict == "Accepted" ? "text-success" : "text-danger";
                    var Type = item.CreationTime > Model.contestStartTime.AddMinutes(Model.contestDuration) ? "offline" : "online";
                <tr>
                    @if ((Model.contestStatus == "Ended" && item.Visible == true) || item.UserId == Model.currentUserId)
                    {
                        <td><a data-link="@Url.Action("GetTextSubmission")" data-user="@item.User.UserName" data-id="@item.SubmissionId" data-toggle="modal" data-target="#StatusCotntest">@item.SubmissionId</a></td>
                    }
                    else
                    {
                        <td>@item.SubmissionId</td>
                    }
                    <td> <a asp-action="Details" asp-controller="User" asp-route-id="@item.UserId">@item.User.UserName</a></td>
                    <td> <a asp-action="DisplayProblem" asp-route-id="@Model.contestId" asp-route-problemId="@item.Problem.ProblemId"> @item.Problem.ProblemTitle</a></td>

                    <td class="@verdictClass">@item.Verdict</td>
                    <td>@item.TimeConsumeMillis</td>
                    <td>@item.MemoryConsumeBytes</td>
                    <td>@item.ProgrammingLanguage</td>
                    <td>
                        <div>@item.CreationTime.ToString("MM/dd/yyyy")</div>
                        <div>@item.CreationTime.ToString("HH:mm")</div>
                    </td>
                    <td>@Type</td>
                </tr>
                }
            </tbody>
        </table>
    </div>
    @{
        string contestIdSTR = Model.contestId.ToString(); 
        string Action = "MySubmission:" + contestIdSTR;
    }
    <partial name="SharedFooter" for="@Action">
</section>
<!-- View Status Modal -->
<section class="modal fade submision-modal" id="StatusCotntest" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <div class="model-header-flex">
                    <h4 class="modal-title">
                        Solution By <span>SuperMari000</span>
                    </h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </div>
            <div class="modal-body">
                <div class="table-responsive">
                    <table class="table table-bordered text-center">
                        <thead class="thead-light">
                            <tr>
                                <th class="text-center">Problem</th>
                                <th class="text-center">Verdict</th>
                                <th class="text-center">Time</th>
                                <th class="text-center">Memory</th>
                                <th class="text-center">Language</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td></td>
                                <td class=""></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="submision">
                    <button class="btn btn-secondary">Copy</button>
                    <pre class="prettyprint"></pre>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
