@model GraduationProject.ViewModels.ContestViewsModel.StandingViewModel

@{
    ViewData["Title"] = "Contest Standing";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="table-standing">
    <div class="table-responsive">
        <table class="table table-bordered text-center">
            <thead class="thead-light">
                <tr>
                    <th class="text-center">#</th>
                    <th class="text-center">User Name</th>
                    <th class="text-center" width="60px">Score</th>
                    <th class="text-center">Penality</th>
                    @for (int i = 0; i < Model.NumberOfProblems; i++)
                    {
                        <th class="text-center" width="70px"><a href="">@Convert.ToChar(i + 'A')</a></th>
                    }
                </tr>
            </thead>
            <tbody>
                @{ int Rank = 0; }
                @foreach (var currentUser in Model.users)
                {
                    Rank++;
                <tr>
                    <td>@Rank</td>
                    <td><a href="">@currentUser.userName</a></td>
                    <td>@currentUser.NumberOfSolvedProblems</td>
                    <td>@currentUser.TotalPenality</td>

                    @{ int i = -1;}
                    @foreach (var problem in currentUser.UserPoblemsRaw)
                    {
                        i++;
                        <td class="@problem.td_className">
                            @if (problem.Solved)
                            {
                                int FirstSubmissionId = currentUser.UserPoblemsRaw[i].Submissions[0].SubmissionId;
                                <a asp-action="GetTextSubmission" asp-controller="Problem" data-user="@currentUser.userName" data-id="@FirstSubmissionId" data-target="#ShowSubmisionStatusModal"> @problem.NumberOfSubmissions </a>
                            }
                        </td>
                    }
                </tr>
                }
            </tbody>
        </table>
    </div>
    <div aria-label="Page navigation" class="text-center">
        <ul class="pagination pagination-lg">
            <li>
            <a href="#" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
            </li>
            <li><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li>
            <a href="#" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
            </li>
        </ul>
    </div>
</section>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
