@model GraduationProject.ViewModels.ContestViewsModel.StandingViewModel
    <div class="center-block">
        <table class="table table-bordered text-center">
            <thead class="thead-dark">
                <tr>
                    <th>UserName</th>
                    <th>Penality</th>
                    <th>NumberOfSolvedProblems</th> 
                    @for(int i = 1; i < Model.NumberOfProblems; i++)
                    {
                        <th> i </th>
                    }
                </tr>
            </thead>
            <tbody>
                @foreach (var currentUser in Model.users)
                {
                    <tr>
                        <td>@currentUser.userName</td>
                        <td>@currentUser.TotalPenality</td>
                        <td>@currentUser.NumberOfSolvedProblems</td>
                        @foreach (var problem in currentUser.UserPoblemsRaw)
                        {
                         <td class="@problem.td_className">
                             @if (problem.Solved) 
                             {
                               @problem.NumberOfSubmissions
                             }
                         </td>
                        }
                    </tr>
                }
            </tbody>
        </table>
    </div>