@model GraduationProject.Data.Models.Blog

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Blog</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.BlogId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BlogId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BlogTitle)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BlogTitle)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BlogContent)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BlogContent)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BlogVote)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BlogVote)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CreationTime)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CreationTime)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BlogVisibility)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BlogVisibility)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.GroupId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.GroupId)
        </dd>
    </dl>
    
	<form asp-action="Delete">
		<input type="hidden" asp-for="BlogId" />
		<input type="submit" value="Delete" class="btn btn-default" /> |
		<a asp-action="Index">Back to List</a>
	</form>
</div>
