@model GraduationProject.ViewModels.ViewBlogModel

@{
    ViewData["Title"] = "Details";
}
<div class="container">
	<h2>Details</h2>

	<div>
		<h4>Blog</h4>
		<hr />
		<dl class="dl-horizontal">
			<dt>
				@Html.DisplayNameFor(model => model.blogId)
			</dt>
			<dd>
				@Html.DisplayFor(model => model.blogId)
			</dd>
			<dt>
				@Html.DisplayNameFor(model => model.blogtitle)
			</dt>
			<dd>
				@Html.DisplayFor(model => model.blogtitle)
			</dd>
			<dt>
				@Html.DisplayNameFor(model => model.blogcontent)
			</dt>
			<dd>
				@Html.DisplayFor(model => model.blogcontent)
			</dd>
			<dt>
				@Html.DisplayNameFor(model => model.blogvote)
			</dt>
			<dd>
				@Html.DisplayFor(model => model.blogvote)
			</dd>
			<dt>
				@Html.DisplayNameFor(model => model.creationTime)
			</dt>
			<dd>
				@Html.DisplayFor(model => model.creationTime)
			</dd>
			<dt>
				Comments :     @Model.Comments.Count
			</dt>
			<h1></h1>
			@foreach (var item in Model.Comments)
			{

				<h4>             @item.content</h4>
			}
		</dl>
	</div>
	<div>
		@if (Model.isOwner)
		{
			@Html.ActionLink("Delete", "Delete", new { id = Model.blogId })
			@Html.ActionLink("Edit", "Edit", new { id = Model.blogId })
		} |
		@Html.ActionLink("Create Coment", "Comments", new { id = Model.blogId })
	</div>
</div>