@model IEnumerable<GraduationProject.ViewModels.ViewBlogModel>

@{
	ViewData["Title"] = "Blog Page";
}

<section class="all-blog-page">
	<div class="container">
		<div class="page-header">
			<h2>Blog <span class="text-muted">All Blog view</span></h2>
			<a class="btn btn-primary" asp-action="Create" asp-route-id="@null"><i class="fas fa-plus"></i> New Blog</a>
		</div>
		<section class="blog-table">
			<div class="panel panel-default">
				<div class="panel-heading">
					<div class="panel-title">
						<i class="fas fa-filter"></i> Filter
					</div>
					<i class="fas fa-angle-down" data-toggle="OpenFilterPanel"></i>
				</div>
				<div class="panel-body" hidden>
					<form class="form-horizontal" asp-action="Filter" method="POST">
						<div class="form-group row">
							<label class="control-label col-md-2">Blog Title</label>
							<div class="col-md-8">
								<input type="text" name="Title" class="form-control" />
							</div>
						</div>
						<div class="form-group row">
							<label class="control-label col-md-2">Prepeard By</label>
							<div class="col-md-8">
								<input type="text" name="PrepeardBy" class="form-control" />
							</div>
						</div>
						<div class="form-group row">
							<div class="col-md-offset-2 col-md-8">
								<input type="reset" value="Reset" class="btn btn-secondary" />
								<input type="submit" value="Search" class="btn btn-default" />
							</div>
						</div>
					</form>
				</div>
				<div class="table-responsive">
					<table class="table table-bordered text-center">
						<thead>
							<tr class="active">
								<th class="text-center">Favorite</th>
								<th class="text-center">Title</th>
								<th class="text-center">Create Time</th>
								<th class="text-center">Vote</th>
								<th class="text-center">Prepeard By</th>
							</tr>
						</thead>
						<tbody>
						@if (Model.Any())
						{
							@foreach (var item in Model)
							{
								@if ((TempData["BlogsUser"] != null && TempData["BlogsUser"].ToString() == "blogUser") || item.GroupId == null)
								{
									<tr>
										<td>
											<a asp-action="Favourite" asp-route-id="@item.blogId" class="fas fa-heart @(item.isFavorite ? "active" : "")" data-favorite="IconFav">

											</a>
										</td>
										<td>
											<a asp-action="Details" asp-route-id="@item.blogId">
												@Html.DisplayFor(modelItem => item.blogtitle)
											</a>
										</td>
										<td class="creat-time">
											<div>@item.creationTime.ToString("MM/dd/yyyy")</div>
											<div>@item.creationTime.ToString("HH:mm")</div>
										</td>
										<td>
											@Html.DisplayFor(modelItem => item.blogvote)
										</td>
										@{
											var userName = item.UserBlogs.FirstOrDefault(u => u.BlogOwner).User.UserName;
											var userId = item.UserBlogs.FirstOrDefault(u => u.BlogOwner).User.UserId;
											if (userName != null)
											{
												<td>
													<a asp-controller="User" asp-action="Details" asp-route-id="@userId">
														@userName
													</a>
												</td>
											}
										}
									</tr>

								}
							}	
						}
						else
						{
							<tr>
								<td colspan="7">No Matching Records</td>
							</tr>
						}
						</tbody>
					</table>
				</div>
			</div>
			<div aria-label="Page navigation" class="text-center">
				<ul class="pagination pagination-lg">
					@{
						if (ViewBag.Pagenum > 1)
						{
								<li>
									<a asp-action="Index" asp-route-page="@(ViewBag.Pagenum-1)" aria-label="Previous">
										<span aria-hidden="true">&laquo;</span>
									</a>
								</li>

						}
						for (int i = 1; i <= ViewBag.TotalPageProblem; i++)
						{	
							<li class="@(ViewBag.Pagenum == i ? "active" : "")">
								<a asp-action="Index" asp-route-page="@i">
									@i
								</a>
							</li>

						}
						if (ViewBag.Pagenum < ViewBag.TotalPageProblem)
						{
								<li>
									<a asp-action="Index" asp-route-page="@(ViewBag.Pagenum+1)" aria-label="Next">
										<span aria-hidden="true">&raquo;</span>
									</a>
								</li>
						}
					}

				</ul>
			</div>
		</section>
	</div>
</section>


@section Scripts {
	<partial name="_ValidationScriptsPartial" />
}