@model IEnumerable<GraduationProject.ViewModels.ViewBlogModel>

@{
	ViewData["Title"] = "Blog Page";
}

<br>
<br>
<div class="container">
	<h2>Index</h2>
	<a  asp-action="Create" asp-route-id="@null">New Blog</a>

	<table class="table">
		<thead>
			<tr>
				<th>
					@Html.DisplayNameFor(model => model.blogtitle)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.blogcontent)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.blogOwner)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.blogvote)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.creationTime)
				</th>

				<th></th>
			</tr>
		</thead>
		<tbody>
			@foreach (var item in Model)
			{
				@if (item.GroupId == null)
				{
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.blogtitle)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.blogcontent)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.blogOwner)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.blogvote)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.creationTime)
				</td>

				<td>
					@if (item.isOwner)
					{
						@Html.ActionLink("Delete", "Delete", new { id = item.blogId })
						@Html.ActionLink("Edit", "Edit", new { id = item.blogId })
					}
					| @Html.ActionLink("Details", "Details", new { id = item.blogId }) |
					@Html.ActionLink("Comments", "Comments", new { id = item.blogId })

				</td>
				
			</tr>
					}
				}
		</tbody>
	</table>
</div>

@section Scripts {
	<partial name="_ValidationScriptsPartial" />
}