@model ACJudge.ViewModels.ProblemViewsModel.ViewProblemDetails

@{
    ViewData["Title"] = "Details";
}
<link href="~/css/CodeforcessStyleSheet.css" rel="stylesheet" />
<!-- MathJax -->
<script type="text/x-mathjax-config">
    MathJax.Hub.Config({
      tex2jax: {inlineMath: [['$$$','$$$']], displayMath: [['$$$$$$','$$$$$$']]}
    });

</script>
<script type="text/javascript" async
        src="https://mathjax.codeforces.org/MathJax.js?config=TeX-AMS_HTML-full">
</script>
<!-- /MathJax -->
<section class="show-problem-page">
    <div class="container">
        <ul class="nav nav-pills">
            <li role="presentation"><a asp-action="Index">Problems</a></li>
            @if (User.Identity.IsAuthenticated)
            {
                <li role="presentation"><a href="" data-toggle="modal" data-target="#SubmitProblmeMain">Submit</a></li>
                <li role="presentation"><a asp-action="FilterStatus" asp-route-ProblemName="@Model.problemsourceId" asp-route-ProblemSource="@Model.problemSource" asp-route-UserName="@Model.userName">My Submision</a></li>
            }
            <li role="presentation"><a asp-action="FilterStatus" asp-route-ProblemName="@Model.problemsourceId" asp-route-ProblemSource="@Model.problemSource">Status</a></li>
            <li role="presentation"><a href="#">Custom Test</a></li>
        </ul>
        <div class="all-data-problem">
            <div class="row">
                <div class="col-md-3 problem-info">
                    <section class="panel panel-info text-center">
                        <div class="panel-heading">
                            <a href="@Model.urlSource" target="_blank">
                                @Model.problemSource - @Model.problemsourceId <!-- source - problemID -->
                            </a>
                        </div>
                        <ul class="list-group">
                            <li class="list-group-item">
                                <span>Time Limit:</span> <span data-refere="TimeLimit"></span>
                            </li>
                            <li class="list-group-item">
                                <span>Memory Limit:</span> <span data-refere="MemoryLimit"></span>
                            </li>
                            <li class="list-group-item">
                                <span>Input File:</span> <span data-refere="InputFile"></span>
                            </li>
                            <li class="list-group-item">
                                <span>Output File:</span> <span data-refere="OutputFile"></span>
                            </li>
                            <li class="list-group-item" data-refere="Tags">
                                <span>Tags:</span> @foreach (var item in Model.problemTag)
                                {
                                    @(item + " ")
                                }
                            </li>
                            <li class="list-group-item" data-refere="Rate">
                                <span>Rate:</span> @Model.Rating
                            </li>
                        </ul>
                        @if (User.Identity.IsAuthenticated)
                        {
                            <div class="panel-footer">
                                <a asp-action="FlipFavouriteDetails" asp-route-id="@Model.problemId"><i class="fas fa-heart @(Model.IsFavorite == true ? "active" : "")" data-favorite="IconFav"></i></a>
                            </div>
                        }
                    </section>
                    <section class="panel panel-info text-center statistics">
                        <div class="panel-heading">
                            Statistics
                        </div>
                        <ul class="list-group">
                            <li class="list-group-item">
                                <!-- Number of users Solved -->
                                <i class="fas fa-users"></i>
                                @Model.NumberAc
                            </li>
                            <li class="list-group-item">
                                <!-- All Number of Submisin -->
                                <i class="fas fa-paper-plane"></i>
                                @Model.Numbersubmission
                            </li>
                        </ul>
                    </section>
                </div>
                <div class="col-md-9">
                    <div id="CodeforcesProblemContent">
                        <div class="ttypography">
                            @Html.Raw(HttpUtility.HtmlDecode(Model.Problemhtml))

                        </div>
                    </div>
                </div>
            </div>
        </div>
        @if (User.Identity.IsAuthenticated)
        {
            <!-- View Modal Submit-->
            <section class="modal fade" id="SubmitProblmeMain" tabindex="-1" role="dialog">
                <div class="modal-dialog modal-lg">
                    <form id = "modal-content" class="modal-content" method="Post">
                        <div class="modal-header">
                            <div class="model-header-flex">
                                <h3 class="modal-title">
                                    Submit Solution
                                </h3>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                        </div>
                        <div class="modal-body form-horizontal">
                            <div class="form-group row">
                                <label class="control-label col-sm-2">Problem</label>
                                <div class="col-sm-10">
                                    <p class="form-control-static">
                                        <!-- Problem Title -->
                                        @Model.problemtitle
                                    </p>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="control-label col-sm-2">Language</label>
                                <div class="col-sm-10">
                                <select class="form-control" name="Language">
                                    <option value="43">GNU GCC C11 5.1.0</option>
                                    <option value="80">Clang++20 Diagnostics</option>
                                    <option value="52">Clang++17 Diagnostics</option>
                                    <option value="50" selected="selected">GNU G++14 6.4.0</option>
                                    <option value="54">GNU G++17 7.3.0</option>
                                    <option value="73">GNU G++20 11.2.0 (64 bit, winlibs)</option>
                                    <option value="59">Microsoft Visual C++ 2017</option>
                                    <option value="61">GNU G++17 9.2.0 (64 bit, msys 2)</option>
                                    <option value="65">C# 8, .NET Core 3.1</option>
                                    <option value="79">C# 10, .NET SDK 6.0</option>
                                    <option value="9">C# Mono 6.8</option>
                                    <option value="28">D DMD32 v2.101.2</option>
                                    <option value="32">Go 1.19.5</option>
                                    <option value="12">Haskell GHC 8.10.1</option>
                                    <option value="60">Java 11.0.6</option>
                                    <option value="74">Java 17 64bit</option>
                                    <option value="36">Java 1.8.0_241</option>
                                    <option value="77">Kotlin 1.6.10</option>
                                    <option value="83">Kotlin 1.7.20</option>
                                    <option value="19">OCaml 4.02.1</option>
                                    <option value="3">Delphi 7</option>
                                    <option value="4">Free Pascal 3.0.2</option>
                                    <option value="51">PascalABC.NET 3.8.3</option>
                                    <option value="13">Perl 5.20.1</option>
                                    <option value="6">PHP 8.1.7</option>
                                    <option value="7">Python 2.7.18</option>
                                    <option value="31">Python 3.8.10</option>
                                    <option value="40">PyPy 2.7.13 (7.3.0)</option>
                                    <option value="41">PyPy 3.6.9 (7.3.0)</option>
                                    <option value="70">PyPy 3.9.10 (7.3.9, 64bit)</option>
                                    <option value="67">Ruby 3.0.0</option>
                                    <option value="75">Rust 1.66.0 (2021)</option>
                                    <option value="20">Scala 2.12.8</option>
                                    <option value="34">JavaScript V8 4.8.0</option>
                                    <option value="55">Node.js 12.16.3</option>
                                    <option value="14">ActiveTcl 8.5</option>
                                    <option value="15">Io-2008-01-07 (Win32)</option>
                                    <option value="17">Pike 7.8</option>
                                    <option value="18">Befunge</option>
                                    <option value="22">OpenCobol 1.0</option>
                                    <option value="25">Factor</option>
                                    <option value="26">Secret_171</option>
                                    <option value="27">Roco</option>
                                    <option value="33">Ada GNAT 4</option>
                                    <option value="38">Mysterious Language</option>
                                    <option value="39">FALSE</option>
                                    <option value="44">Picat 0.9</option>
                                    <option value="45">GNU C++11 5 ZIP</option>
                                    <option value="46">Java 8 ZIP</option>
                                    <option value="47">J</option>
                                    <option value="56">Microsoft Q#</option>
                                    <option value="57">Text</option>
                                    <option value="62">UnknownX</option>
                                    <option value="68">Secret 2021</option>
                            </select>
                            </div>
                            </div>
                            <div class="form-group row">
                                <label class="control-label col-sm-2">Solution</label>
                                <div class="col-sm-10">
                                    <textarea name="SubmitText" class="form-control" rows="15" placeholder="At Least 50 Characters"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <input hidden name="ProblemId" value="@Model.problemId"/>
                            <input hidden name="problemSourceId" value="@Model.problemsourceId"/>
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            <button  type="submit" onclick="SubmitCode()" class="btn btn-info">Submit</button>
                        </div>
                    </form>
                </div>
            </section>
        }
    </div>
</section>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
