@model ACJudge.ViewModels.ProblemViewsModel.ProblemPageView<ACJudge.ViewModels.ProblemViewsModel.ViewProblemModel, ACJudge.ViewModels.ProblemViewsModel.ProblemFilter>

@{
    ViewData["Title"] = "Problem";
}

<section class="problem-page">
    <div class="container">
        <div class="page-header">
            <h2>Problemset <span class="text-muted">All Problems</span></h2>
            <a asp-action="Status" class="btn btn-info"><i class="fas fa-lightbulb"></i> Status</a>
        </div>
        <section class="problem-table">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="panel-title">
                        <i class="fas fa-filter"></i> Filter
                    </div>
                    <i class="fas fa-angle-down" data-toggle="OpenFilterPanel"></i>
                </div>
                <div class="panel-body">
                    <form class="form-horizontal" asp-action="Filter" method="POST">
                        <div class="form-group row">
                            <label class="control-label col-md-2">Problem</label>
                            <div class="col-md-8">
                                <input type="text" asp-for="@Model.Filter.ProblemId" class="form-control" placeholder="EX: cf/123A , Spoj/GSS1" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="control-label col-md-2">Title</label>
                            <div class="col-md-8">
                                <input type="text" asp-for="@Model.Filter.ProblemName" class="form-control" placeholder="Problem Title Show In Website" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="control-label col-md-2">Online Judge</label>
                            <div class="col-md-8">
                                <select class="form-control" asp-for="@Model.Filter.ProblemSource">
                                    <option value="All">All</option>
                                    <option value="Codeforces">Codeforces</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-offset-2 col-md-8">
                                <input type="reset" value="Reset" class="btn btn-secondary" />
                                <input type="submit" value="Search" class="btn btn-primary" />
                            </div>
                        </div>
                    </form>
                </div>
                <div class="table-responsive">
                    <table class="table table-bordered table-striped text-center">
                        <thead>
                            <tr class="table-active">
                                @if (Model.IsLogin)
                                {
                                    <th class="text-center">Status</th>
                                    <th class="text-center">Favorite</th>
                                }
                                <th class="text-center">Online Judge</th>
                                <th class="text-center">Problem</th>
                                <th class="text-center">Title</th>
                                <th class="text-center">Rating</th>
                            </tr>
                        </thead>
                        <tbody>
                        @if (!Model.Items.Any())
                        {
                                <tr>
                                    <!-- if Not Result -->
                                    <td colspan="6">No Matching Records</td>
                                </tr>
                        }
                        @foreach (var item in Model.Items)
                        {
                            <tr>
                                @{
                                    if (Model.IsLogin)
                                    {
                                        <td class="text-@(item.Status == "Solved" ? "success" : "danger")">@item.Status</td>
                                        <td><a asp-action="FlipFavourite" asp-route-id="@item.ProblemId" class="fas fa-heart @(item.Favorite? "active" : "")" data-favorite="IconFav"></a></td>
                                    }
                                }
                                <td>@item.OnlineJudge</td>
                                <td><a href="@item.UrlSource" target="_blank">@item.ProblemSourceId</a></td>
                                <td><a asp-action="Details" asp-route-id="@item.ProblemId">@item.Title</a></td>
                                <td>@(item.Rating==null?"Null":item.Rating)</td>
                            </tr>
                        }
                        </tbody>
                    </table>
                </div>
            </div>
            <div aria-label="Page navigation" class="text-center">
                <ul class="pagination pagination-lg">
                    @{
                        if (Model.PageNumber > 1)
                        {
                            <li>
                                <a asp-action="Filter" asp-route-page="@(Model.PageNumber-1)" asp-route-problemID="@Model.Filter.ProblemId" asp-route-problemName="@Model.Filter.ProblemName" asp-route-ProblemSource="@Model.Filter.ProblemSource" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                        }
                        for (var i = 1; i <= Model.TotalNumberOfPages; i++)
                        {
                            <li class="@(Model.PageNumber == i ? "active" : "")">
                                <a asp-action="Filter" asp-route-page="@i" asp-route-problemID="@Model.Filter.ProblemId" asp-route-problemName="@Model.Filter.ProblemName" asp-route-ProblemSource="@Model.Filter.ProblemSource">
                                    @i
                                </a>
                            </li>
                        }
                        if (Model.PageNumber < Model.TotalNumberOfPages)
                        {
                            <li>
                                <a asp-action="Filter" asp-route-page="@(Model.PageNumber+1)" asp-route-problemID="@Model.Filter.ProblemId" asp-route-problemName="@Model.Filter.ProblemName" asp-route-ProblemSource="@Model.Filter.ProblemSource" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                        }
                    }
                </ul>
            </div>
        </section>
    </div>
</section>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}