@model ACJudge.ViewModels.ContestViewsModel.CreateContestModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="create-contest-page">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2 jumbotron">
                <h1 class="static-main-title">Edit Contest</h1>
                    <div class="carousel-inner" role="listbox">
                        <div class="item contest-classical active">
                                <form class="form-horizontal" asp-action="Edit">
                                    <input hidden asp-for="@Model.contestId" value="@Model.contestId"/>
                                    <input hidden asp-for="@Model.CreateFromGroup" value="0" />
                                    <div class="form-group row">
                                        <label class="control-label col-md-2">Contest Title</label>
                                        <div class="col-md-10">
                                            <input asp-for="@Model.contestTitle" class="form-control" placeholder="Contest Title Show Pepole" />
                                            <div asp-validation-for="@Model.contestTitle" class="alert alert-danger"></div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="control-label col-md-2">Password</label>
                                        <div class="col-md-10">
                                            <input type="password" asp-for="@Model.Password" class="form-control" placeholder="Password To Member Register" />
                                            <div asp-validation-for="@Model.Password" class="alert alert-danger"></div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="control-label col-md-2">Begin Time</label>
                                        <div class="col-md-10">
                                            <input asp-for="@Model.StartTime" class="form-control" />
                                            <div asp-validation-for="@Model.StartTime" class="alert alert-danger"></div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="control-label col-md-2">Duration</label>
                                        <div class="col-md-10">
                                            <input asp-for="@Model.Duration" class="form-control" />
                                            <div asp-validation-for="@Model.Duration" class="alert alert-danger"></div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="control-label col-md-2">Visibility</label>
                                        <div class="col-md-10 radio-btn-change">
                                            <div class="btn-group">
                                                <label class="btn btn-default active">
                                                    <input type="radio" asp-for="@Model.Visable" value="1" checked />
                                                    Public
                                                </label>
                                                <label class="btn btn-default">
                                                    <input type="radio" asp-for="@Model.Visable" value="0" />
                                                    Private
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="control-label col-md-2">Problemset</label>
                                        <div class="col-md-10 table-responsive">
                                            <table class="table text-center">
                                                <thead>
                                                    <tr class="table-active">
                                                        <th class="text-center">#</th>
                                                        <th class="text-center">Online Judge</th>
                                                        <th class="text-center">Poblem Name</th>
                                                        <th class="text-center">Alias</th>
                                                        <th class="text-center"><i class="fas fa-plus text-primary"></i></th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @for (int i = 0; i < Model.problems.Count; i++)
                                                    {
                                                        <tr>
                                                            <td>@Convert.ToChar('A' + i)</td>
                                                            <td class="form-group">
                                                                <select class="form-control" asp-for="@Model.problems[i].PlatForm" value="@Model.problems[i].PlatForm" data-target="PlatForm">
                                                                    <option value="CodeForces">Codeforces</option>
                                                                    <option value="Atcoder">Atcoder</option>
                                                                </select>
                                                            </td>
                                                            <td class="form-group">
                                                                <input value="@Model.problems[i].problemId" asp-for="@Model.problems[i].problemId" class="form-control" type="text" placeholder="CF:123A" data-target="problemId" />
                                                            </td>
                                                            <td class="form-group">
                                                                <input value ="@Model.problems[i].Alias" asp-for="@Model.problems[i].Alias" class="form-control" type="text" placeholder="" data-target="Alias" />
                                                            </td>
                                                            <td><i class="fas fa-check text-success" data-target="acceptproblem"></i></td>
                                                        </tr>
                                                    }
                                                </tbody>
                                            </table>
                                            <div asp-validation-for="problemWrong" class="alert alert-danger"></div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-md-offset-2 col-md-10">
                                            <button type="submit" class="btn btn-success"><i class="fas fa-plus"></i> Edit Contest</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                    </div>
            </div>
    </div>
    </div>
</section>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

}

