@model ACJudge.ViewModels.ContestViewsModel.ViewContestModel

@{
    ViewData["Title"] = "Overview";
}
@{ 
    Boolean ContestEnded = Model.contestStatus == "Ended";
    Boolean ShowOrigin = Model.IsCurrentUserOwner || ContestEnded;
    Boolean ShowProblems = Model.IsCurrentUserOwner || ContestEnded || (Model.contestStartTime <= DateTime.Now);
    
}
<section class="table-problem">
    <div class="table-responsive">
        <table class="table table-bordered text-center">
            <thead class="thead-light">
                <tr>
                    <th class="text-center" width="89px">#</th>
                    @if (ShowOrigin)
                    {
                        <th class="text-center">Origin</th>
                    }
                    <th class="text-center">Title</th>
                    <th class="text-center">Statistics</th>
                </tr>
            </thead>

            <tbody>
                
                    @for (int i = 0; i < Model.Problems.Count; i++)
                    {
                        <tr>
                            <td class="@Model.Problems[i].SolvedClass"> @Convert.ToChar(i + 'A') </td>
                            @if (ShowOrigin)
                            {
                                var ProblemName = Model.Problems[i].OriginName + " - " + Model.Problems[i].Origin;
                                
                                <td> <a target="_blank" href="@Model.Problems[i].originUrl"> @ProblemName </a></td>
                            }
                            <td class="text-left"> <a asp-action="DisplayProblem" asp-route-id="@Model.contestId" asp-route-problemId="@Model.Problems[i].ProblemId"> @Model.Problems[i].PropblemTitle</a></td>
                            <td>
                                <span>
                                    <i class="fas fa-user"></i> @Model.Problems[i].NumberOfAccepted
                                </span>
                                <span class="muted">/</span>
                                <span>
                                    <i class="fas fa-paper-plane"></i> @Model.Problems[i].NumberOfSubmissions
                                </span>
                            </td>
                        </tr>
                    }
              
            </tbody>

        </table>
    </div>
</section>