@model IEnumerable<ACJudge.ViewModels.ViewGroupModel>
@{
    ViewData["Title"] = "Group Page";
}

<section class="group-page">
    <div class="container">
        <ul class="nav nav-tabs text-capitalize">
            @{
                string currentAction = ViewContext.RouteData.Values.ContainsKey("Action") ? ViewContext.RouteData.Values["Action"].ToString() : "NULL";

            }
            @if (currentAction == "Index")
            {
                <li role="presentation" class="active"><a asp-action="Index">All Groups</a></li>
            }
            else
            {
                <li role="presentation"><a asp-action="Index">All Groups</a></li>
            }
            @if (currentAction == "MyGroups")
            {
                <li role="presentation" class="active"><a asp-action="MyGroups">My Groups</a></li>
            }
            else
            {
                <li role="presentation"><a asp-action="MyGroups">My Groups</a></li>
            }
            @if (currentAction == "Invitations")
            {
                <li role="presentation" class="active"><a asp-action="Invitations">Invitations</a></li>
            }
            else
            {
                string Text = "Invitations";
                if (ViewBag.NumberOfGroupInvitations > 0)
                {
                    Text += "(" + @ViewBag.NumberOfGroupInvitations + ")";
                }
                <li role="presentation"><a asp-action="Invitations"> @Text </a></li>
            }


            <li role="presentation" class="creat-group">
                <a asp-action="Create"><i class="fas fa-plus"></i> New Group</a>
            </li>
        </ul>
        <div class="row groups">
            @foreach (var item in Model)
            {
                if (currentAction == "Invitations")
                {
                    <partial name="groupBoxInvitation" for="@item" />
                }
                else
                {
                    <partial name="groupBox" for="@item" />
                }
            }
        </div>
        @if (currentAction != "Invitations" && ViewBag.NumerOfPages != 0)
        {
        <div aria-label="Page navigation" class="text-center">
            <ul class="pagination pagination-lg">
                @{
                    Boolean IsFirstPage = ViewBag.PageNumber == 1;
                    Boolean IsLastPage = ViewBag.PageNumber == ViewBag.NumberOfPages;
                }
                @if (!IsFirstPage)
                {
                    <li>
                        <a asp-action="Page" asp-route-PageNumber="@(ViewBag.PageNumber - 1)" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                }

                @{
                    List<int> list = new List<int>();
                    for (int i = 1; i <= Math.Min(3, ViewBag.NumberOfPages); i++)
                        list.Add(i);
                    for (int i = Math.Min(3, ViewBag.NumberOfPages) + 1; i < ViewBag.NumberOfPages; i *= 2)
                        list.Add(i);
                    list.Add(ViewBag.PageNumber);
                    list.Sort();
                    list = list.Distinct().ToList();
                    for (int i = 0; i < list.Count; i++)
                    {
                        if (list[i] == ViewBag.PageNumber)
                        {
                            <li class="active"><a>@list[i]</a></li>
                        }
                        else
                        {
                            <li><a asp-action="Page" asp-route-PageNumber="@list[i]">@list[i]</a></li>
                        }
                    }
                }


                @if (!IsLastPage)
                {
                    <li>
                        <a asp-action="Page" asp-route-PageNumber="@(ViewBag.PageNumber + 1)" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                }


            </ul>
        </div>
        }
    </div>

</section>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}