@model IEnumerable<GraduationProject.ViewModels.ProblemViewsModel.ViewStatusModel>
@{
    ViewData["Title"] = "Submision";
}

<section class="main-user-view">
    <div class="container">
        <div class="row">
            <section class="col-md-3 user-info">
                <div class="thumbnail">
                    @if (ViewBag.USER.PhotoUrl != null)
                    {
                        <img class="img-responsive img-rounded" src="~/img/Profile/@ViewBag.USER.PhotoUrl" alt="@ViewBag.USER.UserName" />
                    }
                    else
                    {
                        <img class="img-responsive img-rounded" src="~/img/Profile/avatar-male.jpg" alt="@ViewBag.USER.UserName" />
                    }
                    <div class="caption text-center">
                        <p>
                            <h4 class="user-name">@ViewBag.USER.UserName</h4>
                            <span class="text-muted">@ViewBag.USER.FirstName @ViewBag.USER.LastName</span>, <a href="#" data-toggle="tooltip" data-placement="top" title="Country">@ViewBag.USER.Country</a><!-- Ranking Page Search Country -->
                        </p>
                        <p>
                            <span class="type">Birth Year:</span> <a href="#">@ViewBag.USER.BirthDate</a> <!-- Ranking Page Search Year -->
                        </p>
                        <p>
                            <span class="type">Gender:</span> @ViewBag.USER.Gender
                        </p>
                        <p class="joined">
                            <i class="far fa-clock"></i> <span>Joined @ViewBag.USER.DateOfJoin</span>
                        </p>

                    </div>
                </div>
            </section>
            <section class="col-md-9">
                <nav class="navbar navbar-default">
                    <div class="container-fluid">

                        <div class="navbar-header">
                            <a class="navbar-brand" href="#">Profile</a>
                        </div>

                        <ul class="nav navbar-nav">
                            <li><a asp-action="MySubmission" asp-route-id="@ViewBag.USER.UserId" class="active">Submission</a></li>
                            <li><a asp-action="OpenContest" asp-route-id="@ViewBag.USER.UserId">Contest</a></li>
                            <li><a asp-action="OpenBlog">Blog</a></li>
                            <li><a asp-action="Favorite" asp-route-id="@ViewBag.USER.UserId">Favorite</a></li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Settings <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a asp-area="Identity" asp-page="/Account/Manage/Index">General Setting</a></li>
                                    <li><a id="email" asp-area="Identity" asp-page="/Account/Manage/Email">Edit Email</a></li>
                                    <li><a id="change-password" asp-area="Identity" asp-page="/Account/Manage/ChangePassword">Change Password</a></li>
                                </ul>
                            </li>
                        </ul>

                    </div>
                </nav>
                <section class="my-submision">
                    <div class="table-responsive">
                        <table class="table table-bordered text-center">
                            <thead class="thead-light">
                                <tr>
                                    <th class="text-center">Online Judge</th>
                                    <th class="text-center">Problem</th>
                                    <th class="text-center">Verdict</th>
                                    <th class="text-center">Time</th>
                                    <th class="text-center">Memory</th>
                                    <th class="text-center">Language</th>
                                    <th class="text-center">When</th>
                                    <th class="text-center">Share</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model.Count() == 0)
                                {
                                    <tr>
                                        <td colspan="8">No Matching Records</td>
                                    </tr>
                                }
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@item.OnlineJudge</td>
                                        <td><a href="#" data-toggle="tooltip" data-placement="top" title="@item.Title">@item.ProblemSourcesId</a></td>
                                        <td class="text-@(@item.Verdict=="Accepted"?"success":"danger")" data-open="openMySubmision">@item.Verdict</td>
                                        <td>@item.TimeConsumed ms</td>
                                        <td>@item.MemoryConsumed KB</td>
                                        <td>@item.Language</td>
                                        <td>
                                            <div>@item.SubmitTime.ToShortDateString()</div>
                                            <div>@item.SubmitTime.ToShortTimeString()</div>
                                        </td>
                                        <td data-link="@Url.Action("FlipSubmissionVisibilityStatus")" data-id="@item.RunID">
                                            @if (item.Visiable == true)
                                            {
                                                <i class="far fa-check-square" data-toogle="far fa-square" data-target="flibShareSubmision"></i>
                                            }
                                            else
                                            {
                                                <i class="far fa-square" data-toogle="far fa-check-square" data-target="flibShareSubmision"></i>
                                            }
                                        </td>
                                    </tr>
                                }

                            </tbody>
                        </table>
                    </div>
                    <div aria-label="Page navigation" class="text-center">
                        <ul class="pagination pagination-lg">
                            @{
                                if (ViewBag.Pagenum > 1)
                                {
                                    <li>
                                        <a asp-action="MySubmission" asp-route-id="@ViewBag.USER.UserId" asp-route-page="@(ViewBag.Pagenum-1)" aria-label="Previous">
                                            <span aria-hidden="true">&laquo;</span>
                                        </a>
                                    </li>
                                }
                                for (int i = 1; i <= ViewBag.TotalPageProblem; i++)
                                {
                                    <li><a asp-action="MySubmission" asp-route-id="@ViewBag.USER.UserId" asp-route-page="@i">@i</a></li>
                                }
                                if (ViewBag.Pagenum < ViewBag.TotalPageProblem)
                                {
                                    <li>
                                        <a asp-action="MySubmission" asp-route-id="@ViewBag.USER.UserId" asp-route-page="@(ViewBag.Pagenum+1)" aria-label="Next">
                                            <span aria-hidden="true">&raquo;</span>
                                        </a>
                                    </li>
                                }

                            }
                        </ul>
                    </div>
                </section>
            </section>
        </div>

    </div>
</section>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
