@model GraduationProject.Data.Models.User

@{
    ViewData["Title"] = "Details";
}


<div class="container">
	<h2>Details</h2>
	<div>
		<h4>User</h4>
		<hr />
		<dl class="dl-horizontal">
			<dt>
				@Html.DisplayNameFor(model => model.BirthDateYear)
			</dt>
			<dd>
				@Html.DisplayFor(model => model.BirthDateYear)
			</dd>
			<dt>
				@Html.DisplayNameFor(model => model.Country)
			</dt>
			<dd>
				@Html.DisplayFor(model => model.Country)
			</dd>
			<dt>
				@Html.DisplayNameFor(model => model.UserName)
			</dt>
			<dd>
				@Html.DisplayFor(model => model.UserName)
			</dd>
			<dt>
				@Html.DisplayNameFor(model => model.PhotoUrl)
			</dt>
			<dd>
				@if (Model.PhotoUrl != null)
				{
					<img alt="Profile Picture" src="~/img/Profile/@Model.PhotoUrl" width="500" height="500" />

				}
				else
				{
					<img alt="Profile Picture" src="~/img/Profile/avatar-male.jpg" />
				}
			</dd>
			<dt>
				@Html.DisplayNameFor(model => model.FirstName)
			</dt>
			<dd>
				@Html.DisplayFor(model => model.FirstName)
			</dd>
			<dt>
				@Html.DisplayNameFor(model => model.LastName)
			</dt>
			<dd>
				@Html.DisplayFor(model => model.LastName)
			</dd>
			<dt>
				@Html.DisplayNameFor(model => model.Gender)
			</dt>
			<dd>
				@Html.DisplayFor(model => model.Gender)
			</dd>
			<dt>
				@Html.DisplayNameFor(model => model.DateOfJoin)
			</dt>
			<dd>
				@Html.DisplayFor(model => model.DateOfJoin)
			</dd>
		</dl>
	</div>
</div>
