@model IEnumerable<GraduationProject.Data.Models.Group>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.GroupTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GroupDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Visable)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Password)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.creationTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GroupDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Visable)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Password)
            </td>
            <td>
                |
                
            </td>
        </tr>
}
    </tbody>
</table>
