@model IEnumerable<ACJudge.ViewModels.ProblemViewsModel.ViewProblemModel>

@{
    ViewData["Title"] = "Problem";
}

<section class="problem-page">
    <div class="container">
        <div class="page-header">
            <h2>Problemset <span class="text-muted">All Problem Interview</span></h2>
            <a asp-action="Status" class="btn btn-info"><i class="fas fa-lightbulb"></i> Status</a>
        </div>
        <section class="problem-table">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="panel-title">
                        <i class="fas fa-filter"></i> Filter
                    </div>
                    <i class="fas fa-angle-down" data-toggle="OpenFilterPanel"></i>
                </div>
                <div class="panel-body">
                    <form class="form-horizontal" asp-action="Filter" method="POST">
                        <div class="form-group row">
                            <label class="control-label col-md-2">Problem</label>
                            <div class="col-md-8">
                                <input type="text" name="problemID" class="form-control" placeholder="EX: cf/123A , Spoj/GSS1" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="control-label col-md-2">Title</label>
                            <div class="col-md-8">
                                <input type="text" name="problemName" class="form-control" placeholder="Problem Title Show In Website" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="control-label col-md-2">Online Judge</label>
                            <div class="col-md-8">
                                <select class="form-control" name="ProblemSource">
                                    <option value="All">All</option>
                                    <option value="CodeForces">Codeforces</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-offset-2 col-md-8">
                                <input type="reset" value="Reset" class="btn btn-secondary" />
                                <input type="submit" value="Search" class="btn btn-primary" />
                            </div>
                        </div>
                    </form>
                </div>
                <div class="table-responsive">
                    <table class="table table-bordered table-striped text-center">
                        <thead>
                            <tr class="table-active">
                                @if (User.Identity.IsAuthenticated)
                                {
                                    <th class="text-center">Status</th>
                                    <th class="text-center">Favorite</th>
                                }
                                <th class="text-center">Online Judge</th>
                                <th class="text-center">Problem</th>
                                <th class="text-center">Title</th>
                                <th class="text-center">Rating</th>
                            </tr>
                        </thead>
                        <tbody>


                            @if (Model.Count() == 0)
                            {
                                <tr>
                                    <!-- if Not Result -->
                                    <td colspan="6">No Matching Records</td>
                                </tr>
                            }
                            @foreach (var item in Model)
                            {
                                <tr>
                                    @{
                                        if (User.Identity.IsAuthenticated)
                                        {
                                            <td class="text-@(item.Status == "Solved" ? "success" : "danger")">@item.Status</td>
                                            <td><a asp-action="FlipFavourite" asp-route-id="@item.ProblemId" class="fas fa-heart @(item.Favorite == true ? "active" : "")" data-favorite="IconFav"></a></td>
                                        }

                                    }
                                    <td>@item.OnlineJudge</td>
                                    <td><a href="@item.UrlSource" target="_blank">@item.ProblemSourceId</a></td>
                                    <td><a href="#">@item.Title</a></td>
                                    <td>@(item.rating==null?"Null":item.rating)</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
            <div aria-label="Page navigation" class="text-center">
                <ul class="pagination pagination-lg">
                    @{
                        if (ViewBag.Pagenum > 1)
                        {

                            @if (ViewBag.function == "Filter")
                            {
                                <li>
                                    <a asp-action="Filter" asp-route-page="@(ViewBag.Pagenum-1)" asp-route-problemID="@ViewBag.problemid" asp-route-problemName="@ViewBag.problemname" asp-route-ProblemSource="@ViewBag.Problemsource" aria-label="Previous">
                                        <span aria-hidden="true">&laquo;</span>
                                    </a>
                                </li>
                            }
                            else
                            {
                                <li>
                                    <a asp-action="Index" asp-route-page="@(ViewBag.Pagenum-1)" aria-label="Previous">
                                        <span aria-hidden="true">&laquo;</span>
                                    </a>
                                </li>
                            }

                        }
                        for (int i = 1; i <= ViewBag.TotalPageProblem; i++)
                        {
                            if (ViewBag.function == "Filter")
                            {
                                <li class="@(ViewBag.Pagenum==i?"active":"")"><a asp-action="Filter" asp-route-page="@i" asp-route-problemID="@ViewBag.problemid" asp-route-problemName="@ViewBag.problemname" asp-route-ProblemSource="@ViewBag.Problemsource">@i</a></li>
                            }
                            else
                            {
                                <li class="@(ViewBag.Pagenum==i?"active":"")"><a asp-action="Index" asp-route-page="@i">@i</a></li>
                            }

                        }
                        if (ViewBag.Pagenum < ViewBag.TotalPageProblem)
                        {

                            @if (ViewBag.function == "Filter")
                            {
                                <li>
                                    <a asp-action="Filter" asp-route-page="@(ViewBag.Pagenum+1)" asp-route-problemID="@ViewBag.problemid" asp-route-problemName="@ViewBag.problemname" asp-route-ProblemSource="@ViewBag.Problemsource" aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                    </a>
                                </li>
                            }
                            else
                            {
                                <li>
                                    <a asp-action="Index" asp-route-page="@(ViewBag.Pagenum+1)" aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                    </a>
                                </li>
                            }

                        }

                    }

                </ul>
            </div>
        </section>
    </div>
</section>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}